.footer{
    display: flex;
    justify-content:space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.myMail{
    text-align: end;
    color: white;
    font-size: 20px;
    font-weight: 100;
    margin: auto 45px;
    text-shadow: 2px 2px #00000091;
}

@media screen and (max-width: 768px) {
    .footer{
        display: flex;
        justify-content:space-between;
        position: absolute;
        bottom: 0;
        margin: 20px;
    }
}