* {
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    overflow-x: hidden;
    height: 100%;
  }
  
  body {
    background-color: #012030;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
    height: 100%;
  }

.footer{
    display: flex;
    justify-content:space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 20px;
}

.myMail{
    text-align: end;
    color: white;
    font-size: 20px;
    font-weight: 100;
    margin: auto 45px;
    text-shadow: 2px 2px #00000091;
}

@media screen and (max-width: 768px) {
    .footer{
        display: flex;
        justify-content:space-between;
        position: absolute;
        bottom: 0;
        margin: 20px;
    }

    .myMail{
        display: none;
    }
}