.myIdentity{
    margin: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
}

.myName{
    color: white;
    font-weight: 100;
}

.mySurname{
    color: white;
    font-weight: 600;
}

.navbar{
    display: flex;
    justify-content:space-between;
}

.navLinks{
    margin-top: 25px;
    margin-right: 20px;
}
.navLink{
    display: inline;
}
.navbarText{
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin: 25px;
    font-size: 20px;
}

.hamburgerContainer{
    display: none;
}

@media screen and (max-width: 942px) {
    .hamburgerContainer{
        display: flex;
        justify-content: flex-end;
        margin: 15px;
    }

    .bar{
        display: block;
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px auto;
        transition: 0.3s;
    }

    .navLink{
        display: block;
        margin: 25px auto;
    }
}

/*---*/
.hidden{
    display: none;
}

.visible{
    display: inherit;
}
