* {
    margin: 0;
    box-sizing: border-box;
}
  
html {
    overflow-x: hidden;
}
  
body {
    background-color: #012030;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
}